.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
}

.navbar-custom-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.navbar-custom a {
  text-decoration: none;
}

.navbar-custom-two a {
  text-decoration: none;
}
