.slider-body .slider-one {
  background-image: linear-gradient(
      rgba(18, 70, 51, 0.26),
      rgba(3, 68, 44, 0.562)
    ),
    url("https://i.ibb.co/zhMxMX1/balazs-busznyak-El5zu-QAtfeo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.slider-body .slider-two {
  background-image: linear-gradient(
      rgba(18, 70, 51, 0.26),
      rgba(3, 68, 44, 0.562)
    ),
    url("https://i.ibb.co/1Rdsv4L/iswanto-arif-u0l-Aovo-Usa-U-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.slider-body .slider-three {
  background-image: linear-gradient(
      rgba(18, 70, 51, 0.26),
      rgba(3, 68, 44, 0.562)
    ),
    url("https://i.ibb.co/X7ctWNk/karimjy-louloua-xx3obk2-I8k-I-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.slider-content {
  margin-top: 100px;
  margin-left: 100px;
}

.slider-content h1 {
  font-size: 4.5rem;
  color: #fefefe;
}

.slider-content h5 {
  font-size: 30px;
  color: #f57e47;
  margin-top: 20px;
  margin-bottom: 35px;
}

.slider-content button {
  padding: 16.5px 32.4px;
  background-color: #304f47;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 9;
  border: none;
  transition: all 0.4s;
}

.slider-content button::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  clip-path: circle(27% at -3% 50%);
  transition: all 0.4s;
  z-index: -1;
  background: #ff7f47;
  border-radius: 5px;
}

.slider-content button:hover {
  background: #ff7f47;
  border-radius: 5px;
  clip-path: circle(150% at 0% 0%);
}

.card-ex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #304f47;
  color: white;
  padding: 30px 0;
  margin-right: px;
}

.card-ex .icon {
  font-size: 200px !important;
  color: #f57e47;
}

.extra-two {
  background-image: linear-gradient(
      rgba(224, 216, 216, 0.753),
      rgba(218, 203, 203, 0.877)
    ),
    url("https://i.ibb.co/99JN5kZ/praveen-kumar-mathivanan-j7q-JLn4-Chzs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: 40px 0;
}
